.app {
  display: flex;
  justify-content: center;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

button {
  padding: 1rem;
  margin: 0.5rem 0;
}

label {
  margin-bottom: 0.25rem;
}

input {
  padding: 0.35rem;
}
